
.starContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  color: rgb(80, 80, 80);
  font-size: 40px;
  margin-right: 5px;
  cursor: pointer;
}
.active {
  color: gold;
}

.inactive {
  color: rgb(80, 80, 80);
}